In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

%matplotlib inline

# Einleitung

Der Begriff *Exploratory Data Analysis (EDA)* oder auch explorative Statistik wurde in den 1970ern von John W. Tukey geprägt. EDA meint eine Sammlung von Vorgehensweisen und Verfahren um (unbekannte) Daten zu untersuchen. Ziele sind dabei:

- Zusammenhänge in Daten zu erkennen, um statistische Hypothesen zu generieren
- Beurteilung der Daten und Basis für weitere Datensammlung liefern
- Auswahl von Methoden und Werkzeugen für tiefergehende Analysen

# Daten

Datenquelle: https://www.kaggle.com/aungpyaeap/supermarket-sales

# Schritt 1: Information über Daten

**Kontext**

The growth of supermarkets in most populated cities are increasing and market competitions are also high. The dataset is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data.

**Data Dictionary**

1. ***Invoice id:*** Computer generated sales slip invoice identification number

2. ***Branch:*** Branch of supercenter (3 branches are available identified by A, B and C).

3. ***City:*** Location of supercenters

4. ***Customer type:*** Type of customers, recorded by Members for customers using member card and Normal for without member card.

5. ***Gender:*** Gender type of customer

6. ***Product line:*** General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel

7. ***Unit price:*** Price of each product in USD

8. ***Quantity:*** Number of products purchased by customer

9. ***Tax:*** 5% tax fee for customer buying

10. ***Total:*** Total price including tax

11. ***Date:*** Date of purchase (Record available from January 2019 to March 2019)

12. ***Time:*** Purchase time (10am to 9pm)

13. ***Payment:*** Payment used by customer for purchase (3 methods are available – Cash, Credit card and Ewallet)

14. ***COGS:*** Cost of goods sold

15. ***Gross margin percentage:*** Gross margin percentage

16. ***Gross income:*** Gross income

17. ***Rating:*** Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)


**Fazit**

- Teilauschnitt von Daten (3 Branches, 3 Months)
- Mischung aus quantitativen Daten und kategorialen Daten
- Daten teilweise pseudonymisiert (Branch)
- aggregierte Daten

# Schritt 2: Load und Basic Exploration

In [ ]:
df = pd.read_csv('data/' + 'supermarket_sales.csv')

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.dtypes

## Korrektur von Datentypen
Die Spalte 'Date' sollte in den korrekten Datentyp umgewandelt werden.

In [ ]:
df['Date']

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df['Date']

## Duplikate

In [ ]:
df.duplicated().sum()

In [ ]:
df[df.duplicated()==True]

In [ ]:
df.drop_duplicates(inplace=True)

## Missing Values

In [ ]:
df.isna().sum()

In [ ]:
df.isna().sum()/len(df)

Für's erste korrigieren wir Missing Values nicht.

## Ändern des Index

In [ ]:
df.set_index('Date', inplace=True)

In [ ]:
df.head()

# Schritt 3: Univariate Analyse

## Numerische Daten

In [ ]:
df.describe()

In [ ]:
df.hist()
#df.hist(figsize=(10,10))
#df.hist(figsize=(10,10), xrot=45)
plt.show()

In [ ]:
sns.distplot(df['Rating'])
#plt.axvline(x=np.mean(df['Rating']), c='red', ls='--', label='mean')
#plt.axvline(x=np.percentile(df['Rating'], 25), c='green', ls='--', label='25-75 percentile')
#plt.axvline(x=np.percentile(df['Rating'], 75), c='green', ls='--')
#plt.legend()

## Kategoriale Daten

In [ ]:
df.describe(include='object')

In [ ]:
for column in df.select_dtypes(include='object'):
    if df[column].nunique() < 10:
        sns.countplot(y=column, data=df)
        plt.show()

# Schritt 4: Bivariate Analysis

In [ ]:
sns.scatterplot(df['Rating'], df['gross income'])

In [ ]:
sns.regplot(df['Rating'], df['gross income'])

In [ ]:
sns.boxplot(x=df['Branch'], y=df['gross income'])

In [ ]:
sns.boxplot(x=df['Gender'], y=df['gross income'])

In [ ]:
df.groupby(df.index).mean()

In [ ]:
sns.lineplot(x=df.groupby(df.index).mean().index, 
             y=df.groupby(df.index).mean()['gross income'])

In [ ]:
sns.pairplot(df)

# Schritt 5: Korrektur Missing Values

In [ ]:
df.isna().sum()

In [ ]:
sns.heatmap(df.isna())

In [ ]:
sns.heatmap(df.isnull(), cbar=False)

In [ ]:
#df.fillna(0, inplace=True)
#df.fillna(df.mean(), inplace=True)

In [ ]:
sns.heatmap(df.isnull(), cbar=False)

In [ ]:
df.mode().iloc[0]

In [ ]:
df.fillna(df.mode().iloc[0], inplace=True)

In [ ]:
sns.heatmap(df.isnull(), cbar=False)

# Schritt 6: Korrelation

In [ ]:
np.corrcoef(df['gross income'], df['Rating'])

In [ ]:
round(np.corrcoef(df['gross income'], df['Rating'])[1][0], 2)

In [ ]:
np.round(df.corr(), 2)

In [ ]:
sns.heatmap(np.round(df.corr(), 2), annot=True)

# Abkürzung ;-)

In [ ]:
dataset = pd.read_csv('data/supermarket_sales.csv')
prof = ProfileReport(dataset)
prof